@page
@model BeavertonUV.Pages.Enrollments.IndexModel

@{
    ViewData["Title"] = "Enrollments";
}

<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-black" href="#">Enrollments |</a>

        <! Add new item. >
        <div class="collapse navbar-collapse" id="navAddNew">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-page="Create">
                        <img src="~/icon/addsvg.svg" />
                        <span class="text-decoration-underline">Add New</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrollment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.ID)
                </td>

                <td align="right">
                    <a class="text-decoration-none"
                   asp-page="./Edit" asp-route-id="@item.EnrollmentID ">
                        <img src="~/icon/editsvg.svg" /> &nbsp
                    </a>

                    <a class="text-decoration-none"
                   asp-page="./Details" asp-route-id="@item.EnrollmentID">
                        <img src="~/icon/detailsvg.svg" /> &nbsp
                    </a>

                    <a asp-page="./Delete" asp-route-id="@item.EnrollmentID">
                        <img src="~/icon/deletesvg.svg" />
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
