@page
@model BeavertonUV.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Courses";
}

<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-black" href="#">Courses |</a>

        <! Add new item. >
        <div class="collapse navbar-collapse" id="navAddNew">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-page="Create">
                        <img src="~/icon/addsvg.svg" />
                        <span class="text-decoration-underline">Add New</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>

                <td align="right">
                    <a class="text-decoration-none"
                   asp-page="./Edit" asp-route-id="@item.CourseID ">
                        <img src="~/icon/editsvg.svg" /> &nbsp
                    </a>

                    <a class="text-decoration-none"
                   asp-page="./Details" asp-route-id="@item.CourseID">
                        <img src="~/icon/detailsvg.svg" /> &nbsp
                    </a>

                    <a asp-page="./Delete" asp-route-id="@item.CourseID">
                        <img src="~/icon/deletesvg.svg" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
